* {
  box-sizing: border-box;
}

body {
  margin: 0;

  > * {
    margin: 10px auto;
    font-family: 'Roboto', sans-serif;
  }
}

header {
  width: 100%;
  margin-top: 0;
  height: 256px;
  background: linear-gradient(to top, #1cd8d2, #93edc7);
  overflow: hidden;
  color: rgb(204, 253, 232);
  text-transform: uppercase;
  box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.28);
}

main {
  width: 100%;
  max-width: 1280px;
}

footer {
  width: 100%;
  max-width: 1280px;
}

hr {
  height: 1px;
  background: #ccc;
  margin: {
    top: 10px;
    bottom: 10px;
  }
}

article, .bulk {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.bulk:nth-child(1) {
  width: 66.6%;
  .bin {
    width: 100%;
  }

  picture {
    padding: 10px;
  }

  figcaption {
    margin: 10px;
  }

  @media screen and (min-width: 413px) {
    figcaption {
      width: calc(100% - 20px);
    }

    figure:hover {
      figcaption {
        transform: translateY(calc(-100% - 20px));
        transition: transform 300ms;
      }
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  @media screen and (max-width: 412px) {
    picture {
      padding: 0;
    }

  }
}

.bulk:nth-child(2) {
  width: 33.3%;
  .bin {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    width: 100%;

    .bin {
      width: 50%;
    }
  }

  @media screen and (max-width: 412px) {
    .bin {
      width: 100%;
    }
  }
}

picture {
  display: block;
  height: auto;
  overflow: hidden;
  padding: 5px;
}

.bin {
  width: 33.3%;

  @media screen and (max-width: 768px) {
    width: 50%;
  }

  @media screen and (max-width: 412px) {
    width: 100%;
  }
}

figure {
  margin: 20px;
  box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.42);
  overflow: hidden;
  position: relative;

  &:hover {
    figcaption {
      transform: translateY(calc(-100% - 10px));
      transition: transform 300ms;
    }
  }
}

@media screen and (max-width: 412px) {
  picture {
    padding: 0;
  }

  figure {
    margin: 0 0 20px 0;

  }
}

figcaption {
  padding: 20px;
  color: #777;
  margin: 5px;

  @media screen and (min-width: 413px) {
    display: block;
    width: calc(100% - 10px);
    position: absolute;
    background: rgba(0,0,0, 0.7);
  }

  @media screen and (max-width: 412px) {
    width: 100%;
    display: block;
    &:before {
      content: " ";
      display: inline-block;
      height: 10px;
      width: 10px;
      border-radius: 5px;
      background: #60fdbb;
      margin-left: 1em;
    }
  }
}

.logo {
  width: 64px;
  height: 64px;
  margin: 40px auto 20px auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.title {
  margin: 40px auto 10px auto;
  width: 50%;
  text-align: center;

  h1 {
    font-weight: lighter;
  }
}
