doctype html

head
  meta(charset="utf8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="css/normalize.css")
  link(rel="stylesheet" href="css/main.css")
  title blinklv's portfolio

body
  header
    .logo
      img(src="img/logo-s.jpg" alt="logo")

    .title
      h1 Blink Lv
      p Welcome To My Portfolio

  main
    article
      mixin bin(src)
        .bin
          figure
            picture
              - 
                alt = src.replace(/\.[^/.]+$/, "");
                small = "img/" + src.replace(/\.([^/.]+)$/, "-m.$1");
                medium = "img/" + src.replace(/\.([^/.]+)$/, "-l.$1");
                large = "img/" + src.replace(/\.([^/.]+)$/, "-xl.$1");

              source(media="(max-width:412px)" srcset=small)
              source(media="(max-width: 768px)" srcset=medium)
              img(src=large alt=alt)

            figcaption There is nothing, so don't go there.

      //- We think there are not subdirectories existing in the img directory.
      - 
        var imgs = Object.keys(files.img).reduce(function(arr, key) {
          var val = files.img[key];
          if (! (/logo/.test(val)) ) {
            arr.push(val);
          }
          return arr;
        }, []);

        var top = 0;
        var n = imgs.length;

      - for ( var i = 0; top < n && i < 3; ++i )
        section(class="bulk")
          if i == 0
            +bin(imgs[top])
            - ++top;
          else if i == 1
            - for ( var j = 0; top < n && j < 2; ++j, ++top )
              +bin(imgs[top])
          else
            - for ( ; top < n; ++top )
              +bin(imgs[top])

  footer
